replicaCount: 5

autoscaling:
  enabled: false

image:
  repository: arathikrishnam/flask-app
  tag: "1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: []

service:
  type: ClusterIP
  port: 5000

env:
  - name: ENV
    value: "dev"

probes:
  liveness:
    initialDelaySeconds: 10
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 5

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

serviceAccount:
  create: false
  name: ""

httpRoute:
  enabled: false

ingress:
  enabled: false
