apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask-container
          image: arathikrishnam/flask-app:1.0
          ports:
            - containerPort: 5000
          env:
            - name: ENV
              value: "dev"